{% extends 'contacts_app/home.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contacts_app/add.css' %}">
</head>
<body>
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <h3>
            Name : <input class="me-5" type="text" name="full_name" required>
            Mobile : <input type="text" name="mobile_number" required><br><br>
            <button class="btn btn-danger">Save</button>
        </h3>
    </form>
</body>
</html>
{% endblock %}